<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.kms.carnehome.mapper.AttachMapper">

    <insert id="insert">
        insert into carnehome_attach values (#{fileName}, #{fileUrl}, #{image}, #{postNo})
    </insert>

    <delete id="deleteAll">
        delete from carnehome_attach where postNo = #{postNo}
    </delete>

    <select id="getAttachList" resultType="stu.kms.carnehome.domain.PostAttachVO">
        select * from carnehome_attach where postNo = #{postNo}
    </select>
</mapper>