<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.kms.carnehome.mapper.MemberMapper">

    <insert id="signUp">
        insert into CARNEHOME_MEMBER (USERID, USERPW, USERNAME, USERMAIL)
        values (#{userid}, #{userpw}, #{username}, #{usermail})
    </insert>

    <insert id="signUpAuth">
        insert into CARNEHOME_MEMBER_AUTH (USERID, AUTH)
        values (#{userid}, #{auth})
    </insert>

    <update id="modify">
        update CARNEHOME_MEMBER
        set
            USERPW = #{userpw},
            USERMAIL = #{usermail}
        where USERID = #{userid}
    </update>

    <update id="deleteAuth">
        delete from CARNEHOME_MEMBER_AUTH where USERID = #{userid}
    </update>


    <resultMap id="memberMap" type="stu.kms.carnehome.domain.MemberVO">
        <id property="userid" column="userid"/>
        <result property="userid" column="userid"/>
        <result property="userpw" column="userpw"/>
        <result property="username" column="username"/>
        <result property="usermail" column="usermail"/>
        <result property="enabled" column="enabled"/>
        <result property="regdate" column="regdate"/>
        <result property="updatedate" column="updatedate"/>
        <collection property="authList" resultMap="authMap"/>
    </resultMap>

    <resultMap id="authMap" type="stu.kms.carnehome.domain.AuthVO">
        <result property="userid" column="userid"/>
        <result property="auth" column="auth"/>
    </resultMap>

    <select id="loadUser" resultMap="memberMap">
        select mem.USERID, USERPW, USERNAME, USERMAIL, ENABLED, REGDATE, UPDATEDATE, AUTH
        from CARNEHOME_MEMBER mem
        left outer join CARNEHOME_MEMBER_AUTH auth on mem.USERID = auth.USERID
        where mem.USERID = #{userid}
    </select>

    <select id="loadUserByUsername" resultMap="memberMap">
        select mem.USERID, USERPW, USERNAME, USERMAIL, ENABLED, REGDATE, UPDATEDATE, AUTH
        from CARNEHOME_MEMBER mem
                 left outer join CARNEHOME_MEMBER_AUTH auth on mem.USERID = auth.USERID
        where mem.USERNAME = #{username}
    </select>

    <select id="pwCheck" resultType="String">
        select USERPW from CARNEHOME_MEMBER where USERID = #{userid}
    </select>
</mapper>