<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.kms.carnehome.mapper.PostMapper">

    <sql id="searchTypeSql">
        <choose>
            <when test="searchType == 'T'.toString()">
                where title like Concat('%',Ifnull(#{keyword}, ''),'%')
            </when>
            <when test="searchType == 'C'.toString()">
                where content like Concat('%',Ifnull(#{keyword}, ''),'%')
            </when>
            <when test="searchType == 'U'.toString()">
                where username like Concat('%',Ifnull(#{keyword}, ''),'%')
            </when>
            <when test="searchType == 'TC'.toString()">
                where title like Concat('%',Ifnull(#{keyword}, ''),'%') OR content like Concat('%',Ifnull(#{keyword}, ''),'%')
            </when>
        </choose>
    </sql>

    <select id="getList" resultType="stu.kms.carnehome.domain.PostVO">
        select postNo, title, content, username, postDate, updateDate, replyCount
        from CARNEHOME_POST
        <include refid="searchTypeSql"/> order by postNo desc
        limit #{offset} , #{amountPerPage}
    </select>

    <select id="getHighlightList" resultType="stu.kms.carnehome.domain.PostVO">
        select postNo, title, content, username, postDate, updateDate, replyCount
        from CARNEHOME_POST
        where highlight = 1
        order by postNo desc
        limit 5
    </select>

    <select id="getPostCount" resultType="Long">
        select count(*) from CARNEHOME_POST where POSTNO > 0
    </select>

    <select id="getPost" resultType="stu.kms.carnehome.domain.PostVO">
        select * from CARNEHOME_POST
        where POSTNO = #{postNo}
    </select>

    <update id="modify">
        update CARNEHOME_POST
        set TITLE = #{title}, CONTENT = #{content}, USERNAME = #{userName}, UPDATEDATE = sysdate()
        where POSTNO = #{postNo}
    </update>

    <delete id="delete">
        delete from CARNEHOME_POST where POSTNO = #{postNo}
    </delete>

    <insert id="write">
        <selectKey keyProperty="postNo" order="BEFORE" resultType="long">
            select nextval(SEQ_CARNEHOME_POST)
        </selectKey>
        INSERT into CARNEHOME_POST (POSTNO, TITLE, CONTENT, USERNAME, HIGHLIGHT)
        values (#{postNo}, #{title}, #{content}, #{userName}, #{highlight})
    </insert>

    <update id="updateReplyCount">
        update CARNEHOME_POST set REPLYCOUNT = REPLYCOUNT + #{amount} where POSTNO = #{postNo}
    </update>
</mapper>